.schedule {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 380px;
  min-width: 320px;
  color: var(--color-metal);
}

.schedule-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.schedule-date {
  font-size: var(--fsize-h4);
  font-family: var(--font-ArsenalBold);
}

.schedule-filters {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: var(--fsize-h4);
  font-family: var(--font-ArsenalBold);
}

.schedule-info {
  font-size: var(--fsize-body);
}

.filter-button {
  position: relative;
}

.filter-highlight {
  position: absolute;
  margin: auto;
  animation: wiggle .8s infinite;
  clip-path: polygon(0% 40%, 90% 0%, 80% 70%, 25% 100%);
}

@keyframes wiggle {
  0% {
    transform: scale(1) rotate(-9deg);
    clip-path: polygon(0% 50%, 80% 0%, 100% 70%, 15% 100%);
  }
  25% {
    transform: scale(1) rotate(-9deg);
    clip-path: polygon(10% 30%, 85% 0%, 90% 60%, 25% 100%);
  }
  65% {
    transform: scale(1) rotate(-9deg);
    clip-path: polygon(15% 40%, 60% 0%, 100% 80%, 30% 100%);
  }
  75% {
    transform: scale(1) rotate(-9deg);
    clip-path: polygon(0% 40%, 90% 0%, 80% 70%, 20% 100%);
  }
  100% {
    transform: scale(1) rotate(-9deg);
    clip-path: polygon(0% 50%, 80% 0%, 100% 70%, 16% 100%);
  }
}