:root {
  font-family: "Arsenal", sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: var(--color-white);
  background: var(--color-dark);
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-Inter: "Inter";
  --font-Arsenal: "Arsenal";
  --font-ArsenalBold: "ArsenalBold";

  --fsize-h1: 4.5rem; /* 72px */
  --fsize-h2: 3.75rem; /* 60px */
  --fsize-h3-100: 2.25rem; /* 36px */
  --fsize-h3: 1.875rem; /* 30px */
  --fsize-h4-100: 1.75rem; /* 28px */
  --fsize-h4: 1.5rem; /* 24px */
  --fsize-body: 1.125rem; /* 18px */

  --fsize-month: var(--fsize-h4-100);
  --fsize-dayName: var(--fsize-h3-100);
  --fsize-dayNumber: var(--fsize-h2);

  --color-metal: rgb(231, 231, 231);
  --color-calendarItems: var(--color-metal);
}

@font-face{
  font-family: "Inter";
  src:local("Inter-VariableFont"), url("./app/assets/fonts/Inter-VariableFont.ttf")
}
@font-face{
  font-family: "Arsenal";
  src:local("Arsenal-Regular"), url("./app/assets/fonts/Arsenal-Regular.ttf")
}
@font-face{
  font-family: "ArsenalBold";
  src:local("Arsenal-Bold"), url("./app/assets/fonts/Arsenal-Bold.ttf")
}

*, *::before, *::after {
  box-sizing: border-box;
}

.arsenal-regular {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  overflow: auto;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}