.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 2px;
  margin-bottom: 2px;
}

.calendar-rows {
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 2px;
}

.calendar-columns {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.calendar-item {
  width: 100px;
  height: 100px;
  background-color: red;
}

.align-right {
  justify-content: end;
}

.align-left {
  justify-content: start;
}