.calendar {
  margin-top: 40px;
  position: relative;
}

.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 2px;
  margin-bottom: 2px;
}

.calendar-rows-container {
  position: relative;
  display: grid;
  grid-template-rows: repeat(6, auto);
  gap: 2px;
}

.calendar-row {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}
.calendar-row::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: white;
  bottom: 0;
}

.calendar-item, .calendar-day {
  width: 85px;
  text-align: center;
  font-family: var(--font-Inter);
  font-weight: 900;
  color: var(--color-calendarItems);
}
.calendar-day > p {
  font-size: var(--fsize-dayName);
  line-height: .7;
}
.calendar-item > p {
  font-size: var(--fsize-dayNumber);
  line-height: 1.4;
}

.align-right {
  justify-content: end;
}

.align-left {
  justify-content: start;
}